# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Virtual environments
venv/
env/
.venv/
.env/

# IDE files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Migrations
alembic/

# Cache
*.egg-info/
.cache/
